@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary-color: #5aa75a;
  --secondary-color: #8ad28a;
  --background-color: #f0ebeb;
  --font-family: "Open Sans", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,html {
  height: 100vh;
  width: 100vw;
  background-image: url('../resources/chitthi_bcgjpg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-color);
  overflow: hidden;
  font-family: var(--font-family);

}